## Connecting to Database by Python

#### Method 1 - SQL Magic (Easy Method)

In [1]:
%load_ext sql

In [4]:
# %sql ibm_db_sa://my-username:my-password@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
%sql ibm_db_sa://ssg43466:9hp%404blvtbwbrgft@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net/BLUDB

'Connected: ssg43466@BLUDB'

#### Method 2 - ibm_db API

In [1]:
import ibm_db
import ibm_db_dbi
import pandas as pd

In [2]:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "ssg43466"        # e.g. "abc12345"
dsn_pwd = "9hp@4blvtbwbrgft"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [44]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="ssg43466",
                               pw="9hp@4blvtbwbrgft",
                               db="BLUDB"))

In [3]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=ssg43466;PWD=9hp@4blvtbwbrgft;

In [4]:
#Create database connection
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  ssg43466 on host:  dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net

In [5]:
db_connect = ibm_db_dbi.Connection(conn)

In [7]:
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pd.read_sql(selectQuery, db_connect)

In [10]:
pdf

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  TORONTO    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US